@using DreamFishingNew.Models.Glasses
@using DreamFishingNew.Infrastructure

@model GlassesDetailsViewModel

<div class="card">
    <div class="row-md-6"><img class="card-img-top" src="@Model.Image" alt="Card image cap"></div>
    <div class="row-md-6">
        <div class="card-body">
            <h5 class="card-title">@Model.Brand @Model.Model</h5>
            <p class="card-text">@Model.Description</p>
            <p class="card-text">Weight: @Model.Weight</p>
            <p class="card-text">Price: @(Model.Price)lv</p>
            <p class="card-text">Quantity: @Model.Quantity</p>
            <a asp-controller="Glasses" asp-action="AddtoCart" class="btn btn-primary" asp-route-id="@Model.Id" asp-route-userId="@User.Id()">Add to Cart</a>
        </div>
    </div>


</div>