@using DreamFishingNew.Models.Reels

@model AddReelFormModel

@{
    ViewData["Title"] = "Add Reel";
}

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <h2 class="heading-margin text-center">Add Reel</h2>

        <form method="post">
            <div class="form-group">
                <label asp-for="Model"></label>
                <input asp-for="Model" class="form-control" placeholder="@Model.Model">
                <span asp-validation-for="Model" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Brand"></label>
                <input asp-for="Brand" class="form-control" placeholder="@Model.Brand">
                <span asp-validation-for="Brand" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" rows="4" class="form-control" placeholder="@Model.Description"></textarea>
                <span asp-validation-for="Description" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image"></label>
                <input asp-for="Image" class="form-control" placeholder="@Model.Image">
                <span asp-validation-for="Image" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weight"></label>
                <input asp-for="Weight" class="form-control" placeholder="@Model.Weight">
                <span asp-validation-for="Weight" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BalbearingsCount"></label>
                <input asp-for="BalbearingsCount" class="form-control" placeholder="@Model.BalbearingsCount">
                <span asp-validation-for="BalbearingsCount" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GearRatio"></label>
                <input asp-for="GearRatio" class="form-control" placeholder="@Model.GearRatio">
                <span asp-validation-for="GearRatio" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price"></label>
                <input asp-for="Price" class="form-control" placeholder="@Model.Price">
                <span asp-validation-for="Price" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity"></label>
                <input asp-for="Quantity" class="form-control" placeholder="@Model.Quantity">
                <span asp-validation-for="Quantity" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LineCapacity"></label>
                <input asp-for="LineCapacity" class="form-control" placeholder="@Model.LineCapacity">
                <span asp-validation-for="LineCapacity" class="small text-danger"></span>
            </div>

            <input class="btn btn-primary" type="submit" value="Save" />
        </form>
    </div>
</div>